/* C S S  C O M P O N E N T S */

.style-p {
  letter-spacing: 2px;
  line-height: 140%;
  font-weight: 500;
}

b {
  color: var(--blue-1);
  font-weight: bold;
}

.btn {
  max-width: 200px;
  min-width: 150px;
  width: 100%;
  position: relative;
  padding: 1.2rem 1.5rem;
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-bgc);
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: box-shadow 0.5s linear;
}

.btn:hover {
  background: var(--btn-clr);
  box-shadow: 0 0 10px var(--btn-clr), 0 0 20px var(--btn-clr),
    0 0 60px var(--btn-clr);
}

.btn::before {
  content: "";
  position: absolute;
  width: 2.25rem;
  height: 500%;
  background: var(--btn-clr);
  background: linear-gradient(to top, var(--blue-1) 50%, var(--purple-1) 50%);
  transition-duration: 0.3s;
  animation: animate 5s linear infinite;
}

.btn::after {
  content: "";
  position: absolute;
  width: 98%;
  height: 92%;
  background-color: var(--btn-bgc);
  border-radius: 0.5rem;
  transition-duration: 0.5s;
}

.btn:hover::before {
  width: 0;
}

.btn:hover::after {
  background-color: var(--btn-clr);
}

.btn span {
  position: relative;
  z-index: 1;
  font-size: 1rem;
  color: #fff;
  opacity: 0.75;
  transition: opacity 0.5s linear;
}

.btn:hover span {
  opacity: 1;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.font-blue {
  color: var(--blue-1);
  text-shadow: 0 1px 0 #00a2f2, 0 2px 0 #0080bf, 0 3px 0 #0079b5,
    0 4px 0 #0072ab, 0 0 0 rgba(0, 128, 191, 0.05),
    0 -1px 0px rgba(0, 128, 191, 0.2), 0 7px 5px rgba(0, 128, 191, 0.3);
}

.font-purple {
  color: var(--purple-1);
  text-shadow: 0 1px 0 #b21671, 0 2px 0 #a9146b, 0 3px 0 #9f1365,
    0 4px 0 #961260, 0 0 0 rgba(175, 1, 103, 0.05),
    0 -1px 0px rgba(187, 2, 110, 0.2), 0 7px 5px rgba(187, 2, 110, 0.3);
}

/**  END COMPONENTS CSS  **/
