:root {
  --primary-color: #12122a;
  --secondary-color: #0e0e22ff;
  --tertiary-color: #363959;
  --blue-1: #00a2f2;
  --blue-2: #0d8ece;
  --purple-1: #e1148b;
}

:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1400;
  --fluid-min-size: 17;
  --fluid-max-size: 20;
  --fluid-min-ratio: 1.2;
  --fluid-max-ratio: 1.33;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) /
      ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16))
  );
}

@media screen and (min-width: 1500px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --fluid-min-scale-0: var(--fluid-min-ratio);
  --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
  --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
  --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
  --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
  --fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);

  --fluid-max-scale-0: var(--fluid-max-ratio);
  --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
  --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
  --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
  --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
  --fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);

  --fluid-min-size-0: (var(--fluid-min-size)) / 16;
  --fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
  --fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;
  --fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
  --fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
  --fluid-min-size-5: (var(--fluid-min-size) * var(--fluid-min-scale-4)) / 16;

  --fluid-max-size-0: (var(--fluid-max-size)) / 16;
  --fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
  --fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
  --fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
  --fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
  --fluid-max-size-5: (var(--fluid-max-size) * var(--fluid-max-scale-4)) / 16;

  --size-0: calc(
    (
      (var(--fluid-min-size-0) * 1rem) +
        (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)
    )
  );

  --size-1: calc(
    (
      (var(--fluid-min-size-1) * 1rem) +
        (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)
    )
  );

  --size-2: calc(
    (
      (var(--fluid-min-size-2) * 1rem) +
        (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)
    )
  );
  --size-3: calc(
    (
      (var(--fluid-min-size-3) * 1rem) +
        (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)
    )
  );
  --size-4: calc(
    (
      (var(--fluid-min-size-4) * 1rem) +
        (var(--fluid-max-size-4) - var(--fluid-min-size-4)) * var(--fluid-bp)
    )
  );
  --size-5: calc(
    (
      (var(--fluid-min-size-5) * 1rem) +
        (var(--fluid-max-size-5) - var(--fluid-min-size-5)) * var(--fluid-bp)
    )
  );
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--blue-1) var(--primary-color);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-corner {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-1);
  border-radius: 10px;
}

/** R A I N **/

.rain-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.rain-drop:nth-child(even) {
  background-color: var(--blue-1);
  box-shadow: 0 0 10px var(--blue-1), 0 0 50px var(--blue-1),
    0 0 100px var(--blue-1);
}

.rain-drop:nth-child(odd) {
  background-color: var(--purple-1);
  box-shadow: 0 0 10px var(--purple-1), 0 0 50px var(--purple-1),
    0 0 100px var(--purple-1);
}

.rain-drop {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: translate(-1000px, 100vh) scale(0);
  animation: rainAnimation 3.5s var(--d) linear infinite;
}

@media screen and (min-width: 48em) {
  .rain-drop {
    width: 1rem;
    height: 1rem;
  }
}

@keyframes rainAnimation {
  0% {
    opacity: 1;
    transform: translate(var(--px), 100vh) scale(0);
  }

  to {
    opacity: 0;
    transform: translate(var(--px), -100px) scale(1);
  }
}

/**  H E A D E R  **/

.header-container {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/**  MENU BAR  **/

.menu-container {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  margin-top: 1.5rem;
  border-bottom: none;
  background-color: transparent;
  touch-action: none;
  transition: background-color 0.2s ease, border-bottom 0.3s ease;
}

.menu-container.active {
  box-shadow: 0 0.5rem 2rem -1rem black;
  background-color: var(--primary-color);
}

.navbar-container {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
  text-decoration: none;
}

@media screen and (min-width: 48em) {
  .logo-container {
    margin-left: 0;
  }
}

.logo-container .logo-img {
  width: 3rem;
}

@media screen and (min-width: 48em) {
  .logo-container .logo-img {
    width: 2.7rem;
  }
}

.logo-container .logo {
  width: max-content;
  display: none;
  top: 0;
  margin-left: 0.2rem;
  color: var(--purple-1);
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (min-width: 48em) {
  .logo-container .logo {
    display: inline-block;
  }
}

.navbar {
  width: 60%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--primary-color);
  transition: transform 0.5s ease;
}

.navbar.active {
  transform: translateX(0);
}

@media screen and (max-width: 48em) {
  .blur-container.active {
    filter: blur(0.3rem);
  }

  #home.active {
    overflow: hidden;
  }
}

@media screen and (min-width: 48em) {
  .navbar {
    width: max-content;
    height: auto;
    display: block;
    position: relative;
    transform: translateX(0);
    transition-duration: 0s;
    background-color: transparent;
  }
}

.navbar-item {
  margin-top: 3rem;
}

.navbar-item a {
  width: 100%;
  height: auto;
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 1rem;
  text-align: center;
  transition: color 0.5s ease;
}

@media screen and (min-width: 48em) {
  .navbar-item a {
    width: 115px;
    height: auto;
    display: inline-block;
    line-height: 2.5rem;
    font-size: 0.8rem;
  }
}

.navbar-item a:hover {
  color: var(--blue-1);
}

.navbar .indicator {
  width: 105px;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(5px, -50%);
}

@media screen and (min-width: 48em) {
  .navbar .indicator {
    z-index: -1;
    box-shadow: 0 0 5px var(--purple-1), 0 0 10px var(--purple-1),
      0 0 25px var(--purple-1);
    border-radius: 0.4rem;
    background-color: var(--purple-1);
    transition: transform 0.5s cubic-bezier(0.8, -0.55, 0.2, 1.65);
  }

  .navbar-item:nth-child(2).active ~ .indicator {
    width: 118px;
    transform: translate(115px, -50%);
  }

  .navbar-item:nth-child(3).active ~ .indicator {
    width: 118px;
    transform: translate(235px, -50%);
  }

  .navbar-item:nth-child(4).active ~ .indicator {
    width: 118px;
    transform: translate(355px, -50%);
  }
}

.navbar #language {
  display: flex;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

@media screen and (min-width: 48em) {
  .navbar #language {
    display: inline-block;
    position: static;
    cursor: pointer;
  }
}

.navbar #language img {
  width: 2rem;
  margin-right: 0.25rem;
  height: auto;
  vertical-align: middle;
}

@media screen and (min-width: 48em) {
  .navbar #language img {
    width: 1rem;
    margin-right: -0.3rem;
  }
}

.navbar .selected-language {
  font-size: 2.5rem;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar .selected-language:hover {
  color: var(--blue-1);
}

@media screen and (min-width: 48em) {
  .navbar .selected-language {
    position: relative;
    top: auto;
    left: 0.2rem;
    font-size: 0.9rem;
  }
}

/**  Hamburger Menu  **/

.hamburger {
  position: relative;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (min-width: 48em) {
  .menu-container .hamburger {
    display: none;
  }
}

.hamburger span {
  pointer-events: none;
  position: absolute;
  left: 1rem;
  width: 2.2rem;
  height: 0.25rem;
  background-color: var(--blue-1);
  border-radius: 4px;
  transition-duration: 0.5s;
}

.hamburger .hamburger-bar1 {
  width: 1.2rem;
  transform: translateY(-13px);
}

.hamburger .hamburger-bar2 {
  width: 1.5rem;
  transform: translateY(13px);
  background-color: var(--purple-1);
}

.hamburger.active .hamburger-bar1 {
  width: 2.5rem;
  transform: translateY(0) rotate(45deg);
  transition-delay: 0.1s;
}

.hamburger.active .hamburger-bar2 {
  width: 2.5rem;
  transform: translateY(0) rotate(315deg);
  transition-delay: 0.25s;
}

.hamburger.active .hamburger-bar3 {
  transform: translateX(64px);
}

/**  Hero  **/

.hero-container {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.hero-h1 {
  position: relative;
  color: var(--blue-1);
  font-size: var(--size-1);
  font-weight: 500;
  letter-spacing: 1px;
  white-space: nowrap;
}

.hero-h1 b {
  font-weight: 500;
  font-size: calc(var(--size-1) * 1.1);
  color: var(--purple-1);
}

.hero-h1::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 105%;
  background: var(--primary-color);
  animation: typing 2s steps(22) forwards;
}

.hero-h2 {
  position: relative;
  color: #fff;
  margin-top: 2rem;
  font-size: var(--size-3);
}

.hero-h2::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 105%; /*5% para fix bug con tipografia popping*/
  background-color: var(--primary-color);
  animation: typing 2s 2s steps(18) forwards, titileo 1.5s 4s steps(2) infinite;
}

@media screen and (min-width: 64em) {
  .hero-h2 {
    font-size: var(--size-4);
  }
  .hero-h2::before {
    font-size: var(--size-4);
  }
}

@keyframes typing {
  0% {
    width: 100%;
    border-left: 1px solid white;
  }

  99% {
    border-left: 1px solid white;
  }

  to {
    width: 0;
  }
}

@keyframes titileo {
  0% {
    right: -1rem;
    border-right: 1px solid white;
  }

  to {
    border-right: none;
  }
}

.hero-quote {
  width: 90%;
  margin-top: 2rem;
  color: #ddd;
  text-align: center;
  font-size: var(--size-0);
}

.hero-quote cite {
  color: white;
  font-weight: bold;
}

@media screen and (min-width: 40em) {
  .hero-quote {
    width: 70%;
  }
}

@media screen and (min-width: 64em) {
  .hero-quote {
    width: 600px;
  }
}

.hero-container .btn {
  margin-top: 6rem;
}

/**  MAIN  SECTION  **/

#main {
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--secondary-color);
  background-image: linear-gradient(
    to bottom,
    var(--secondary-color) 10%,
    var(--primary-color) 100%
  );
  padding-bottom: 4rem;
  clip-path: polygon(0 1.5%, 100% 0, 100% 100%, 0% 100%);
}

/*  S E C T I O N   P R O J E C T  */

#project {
  padding-top: 6rem;
  overflow: hidden;
}

.project-title h2 {
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  font-size: var(--size-3);
}

.project-title p {
  margin-top: 1rem;
  color: #ccc;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  font-size: var(--size-0);
}

.project-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  overflow: hidden;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
  /* opacity: 0; */
}

@media screen and (min-width: 48em) {
  .project-item {
    flex-direction: row;
    padding-bottom: 0;
  }
}

.project-img {
  width: 100%;
  height: auto;
  cursor: pointer;
  padding: 4rem 2rem;
  object-fit: contain;
  background-color: var(--primary-color);
}

@media screen and (min-width: 48em) {
  .project-img {
    width: 50%;
  }

  .project-item:nth-child(2) .project-img {
    order: 2;
  }
}

.project-item .project-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
}

@media screen and (min-width: 48em) {
  .project-item .project-content {
    width: 50%;
    text-align: left;
  }
}

.project-item .project-content p {
  position: relative;
  text-transform: uppercase;
  color: #ccc;
  font-size: var(--size-0);
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: 0.5px;
}

.project-item .project-content p::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  margin-top: -1rem;
  border-top: 1px solid var(--purple-1);
}

@media screen and (min-width: 48em) {
  .project-item .project-content p::before {
    left: 0;
    transform: translateX(0);
  }
}

.project-item .project-content h3 {
  color: #fff;
  font-size: var(--size-3);
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 48em) {
  .project-item .project-content p,
  .project-item .project-content h3,
  .project-item .project-content .btn {
    margin-left: 3rem;
  }
}

/**  S E C T I O N    A B O U T  **/

#about {
  padding-top: 6rem;
}

.about-title h2 {
  color: var(--purple-1);
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  font-size: var(--size-3);
}

.about-title p {
  max-width: 1000px;
  min-width: 350px;
  width: 100%;
  margin: 1rem auto;
  padding: 2rem;
  color: #ccc;
  font-weight: 400;
  letter-spacing: 0;
  /* letter-spacing: 1px; */
  font-size: var(--size-0);
  line-height: 180%;
}

.about-title h3 {
  width: max-content;
  color: var(--blue-1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: calc(var(--size-3));
  text-align: center;
  letter-spacing: 8px;
}

@media screen and (min-width: 48em) {
  .about-title h3 {
    margin-bottom: 6rem;
  }
}

/**  C O N T A C T    S E C T I O N  **/

#contact {
  padding-top: 6rem;
  overflow: hidden;
}

.contact-title h2 {
  color: var(--purple-1);
  text-align: center;
  font-weight: 700;
  font-size: var(--size-3);
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.contact-container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1.25rem;
}

.form-container .row50 {
  display: flex;
  flex-direction: column;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.contact {
  max-width: 1000px;
  width: 92%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 1.25rem 1.5rem;
  background: var(--secondary-color);
  border-radius: 5px;
}

.form-container {
  position: relative;
  width: 100%;
}

.form-container .row100 .inputBox {
  width: 100%;
}

.inputBox label {
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.inputBox label[for="nombre"]::after,
.inputBox label[for="email"]::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: url(./assets/asterisk.svg) 20% 0%/0.4rem no-repeat;
}

.inputBox input {
  width: 100%;
  padding: 0.6rem;
  font-size: 1.1em;
  outline: none;
  color: white;
  border-radius: 4px;
}

.inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  color: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
  background-color: var(--primary-color);
}

.inputBox input[type="submit"],
button {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: var(--blue-1);
  border: none;
  border-radius: 5px;
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.inputBox *::placeholder {
  color: #999;
  background: var(--primary-color);
}

/** Responsive Design  desktop **/

@media screen and (min-width: 60em) {
  .form-container .row50 {
    flex-direction: row;
    gap: 1.5rem;
  }

  .inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
  }
}

/* Estilos para las Validaciones con CSS */

.form-container .row50 .inputBox input + p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #ccc;
}

.form-container .row50 .inputBox input:invalid {
  border: 1px solid #bb2929;
  background: url(./assets/circle-error.svg) 98%/1.25rem no-repeat;
  background-color: var(--primary-color);
}

.form-container .row50 .inputBox input:valid {
  border: 1px solid #0f0;
  background: url(./assets/circle-success.svg) 98%/1.25rem no-repeat;
  background-color: var(--primary-color);
}

.form-container .row50 .inputBox input:placeholder-shown {
  border: 1px solid #999;
  background: var(--primary-color);
}

.form-container .row50 .inputBox input:valid + p {
  visibility: hidden;
}

.form-container .row50 .inputBox input:placeholder-shown + p {
  visibility: hidden;
}

.form-container .row50 .inputBox input:focus:invalid + p {
  visibility: hidden;
}

/**  F O O T E R  **/

#footer {
  position: relative;
  z-index: 30;
  background-color: var(--secondary-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 44em) {
  #footer {
    padding: 0.5rem;
  }
}

.footer-container {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  display: flex;
  color: #535353;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-container p {
  width: 100%;
  color: #fff;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

@media screen and (min-width: 44em) {
  .footer-container p {
    width: auto;
  }
}

.footer-container p span {
  font-size: 0.8rem;
  position: relative;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  animation: heart-pulse 1s infinite steps(4);
}

@keyframes heart-pulse {
  0%,
  40% {
    transform: scale(1);
  }

  20%,
  to {
    transform: scale(1.2);
  }
}

.social-container {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

@media screen and (min-width: 48em) {
  .social-container {
    position: fixed;
    left: -2.75rem;
    bottom: 10rem;
    flex-direction: column;
    gap: 2rem 0;
  }

  .social-container::before {
    content: "";
    width: 1px;
    z-index: -1;
    height: 140px;
    position: fixed;
    left: 3.3rem;
    bottom: 0;
    flex-direction: column;
    gap: 1.75rem 0;
    background-color: #fff;
  }
}

@media screen and (max-width: 60em) {
  .social-container {
    left: -4rem;
  }

  .social-container::before {
    left: 2.2rem;
  }
}

.social-container img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  transition: transform 300ms ease;
}

.social-container img:hover {
  /* border: 1px solid #000; */
  /* position: relative; */
  transform: translateY(-0.3rem);
}

/* @media screen and (min-width:40em) {} 640px */
/* @media screen and (min-width:64em) {} 1024px  */
