.tagcloud {
  margin-left: auto;
  margin-right: auto;
}

.tagcloud--item {
  width: calc(var(--size-3) * 1.25);
  height: calc(var(--size-3) * 1.25);
  color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: filter 0.25s cubic-bezier(0.8, -0.55, 0.2, 1.65);
}

.tagcloud--item:hover {
  filter: drop-shadow(0 0 0.75rem var(--blue-1));
}

.tagcloud--item:nth-child(1) {
  background-image: url("./html5.webp");
}

.tagcloud--item:nth-child(2) {
  background-image: url("./css3.webp");
}

.tagcloud--item:nth-child(3) {
  background-image: url("./js.webp");
}

.tagcloud--item:nth-child(4) {
  background-image: url("./tailwind.webp");
}

.tagcloud--item:nth-child(5) {
  background-image: url("./sass.webp");
}

.tagcloud--item:nth-child(6) {
  background-image: url("./webpack.svg");
}

.tagcloud--item:nth-child(7) {
  background-image: url("./react.webp");
}

.tagcloud--item:nth-child(8) {
  background-image: url("./redux.svg");
}

.tagcloud--item:nth-child(9) {
  background-image: url("./git.webp");
}

.tagcloud--item:nth-child(10) {
  background-image: url("./github.webp");
}

.tagcloud--item:nth-child(11) {
  background-image: url("./postcss.webp");
}

.tagcloud--item:nth-child(12) {
  background-image: url("./typescript.webp");
}
